
documentation/main\.ist

documentation/main\.synctex\.gz

documentation/main\.log

documentation/main\.acr

documentation/main\.alg

documentation/main\.glg

documentation/main\.glo

documentation/main\.gls

documentation/main\.glsdefs
